<div class="p20">
  <a href="#" routerLink="/users/create" [title]="'actions.add' | translate"><mat-icon>person add</mat-icon></a>
  <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.firstName' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <span class="mobile-label">{{ 'user.firstName' | translate }}:</span>
        {{ item.firstName }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.lastName' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <span class="mobile-label">{{ 'user.lastName' | translate }}:</span>
        {{ item.lastName }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.email' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <span class="mobile-label">{{ 'user.email' | translate }}:</span>
        {{ item.email }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'user.userName' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <span class="mobile-label">{{ 'user.userName' | translate }}:</span>
        {{ item.userName }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef fxFlex="5"></mat-header-cell>
      <mat-cell *matCellDef="let item" fxFlex="5">
        <a routerLink="/users/edit/{{item.id}}" [title]="'actions.edit' | translate"><mat-icon>edit</mat-icon></a>
        <a routerLink="/users/delete/{{item.id}}" [title]="'actions.delete' | translate"><mat-icon>delete</mat-icon></a>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
