@import '../../../scss/variables';
:host {
    height: 100%;
    min-height: 100%;
}

.login-wrapper {
    .mat-card-avatar {
        height: 72px;
        width: 72px;
        .mat-icon {
            font-size: 72px;
            color: gray;
        }
    }

    .mat-card-actions {
        margin-left: 0;
        margin-right: 0;
    }
    .mat-form-field {
        width: 100%;

        .password-visible {
            cursor: pointer;
        }
    }
}