@import '../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import './variables';

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px $color-white inset;
}

.success {
    background: $color-lima;
}
.danger {
    background: $color-wild-strawberry;
}
