<div>
<a href="#" routerLink="/users/create"><i class="material-icons">person add</i></a>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td data-title="Firstname">{{ u.firstName }}</td>
        <td data-title="Lastname">{{ u.lastName }}</td>
        <td data-title="Username">{{ u.userName }}</td>
        <td data-title="Email">{{ u.email }}</td>
        <td>
          <a routerLink="/users/edit/{{u.id}}" title="Edit"><i class="material-icons">edit</i></a>
          <a routerLink="/users/delete/{{u.id}}" title="Delete"><i class="material-icons">delete</i></a>
        </td>
      </tr>
    </tbody>
</table>
</div>