<a href="#" routerLink="/users/create"><mat-icon>person add</mat-icon></a>

<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <span class="mobile-label">Firstname:</span>
      {{ item.firstName }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <span class="mobile-label">Lastname:</span>
      {{ item.lastName }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <span class="mobile-label">Email:</span>
      {{ item.email }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <span class="mobile-label">Username:</span>
      {{ item.userName }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef fxFlex="5"></mat-header-cell>
    <mat-cell *matCellDef="let item" fxFlex="5">
      <a routerLink="/users/edit/{{item.id}}" title="Edit"><mat-icon>edit</mat-icon></a>
      <a routerLink="/users/delete/{{item.id}}" title="Delete"><mat-icon>delete</mat-icon></a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
