<div class="stock-ticker">
  <stocks-ticker [stocks]="stocks"></stocks-ticker>
</div>
<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let stock">
      <span class="mobile-label">Symbol:</span>
      {{ stock.symbol }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let stock">
      <span class="mobile-label">Price:</span>
      {{ stock.price }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="dayHigh">
    <mat-header-cell *matHeaderCellDef> High </mat-header-cell>
    <mat-cell *matCellDef="let stock">
      <span class="mobile-label">High:</span>
      {{ stock.dayHigh }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="dayLow">
    <mat-header-cell *matHeaderCellDef> Low </mat-header-cell>
    <mat-cell *matCellDef="let stock">
      <span class="mobile-label">Low:</span>
      {{ stock.dayLow }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="change">
    <mat-header-cell *matHeaderCellDef> Change </mat-header-cell>
    <mat-cell *matCellDef="let stock">
      <span class="mobile-label">Change:</span>
      {{ stock.change }}
      <mat-icon>{{ stock.lastChange >= 0 ? 'trending_up' : 'trending_down' }}</mat-icon>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="percentChange">
    <mat-header-cell *matHeaderCellDef> Percent </mat-header-cell>
    <mat-cell *matCellDef="let stock">
      <span class="mobile-label">Percent:</span>
      {{ stock.percentChange | percent:'1.2-2' }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row 
    *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="!row.hasChanged ? '' : row.lastChange >= 0 ? 'success' : 'danger'">
  </mat-row>
</mat-table>
