<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span>Etosha</span>
  <div fxFlex fxLayoutAlign="end start" fxLayoutGap="20px">
    <language-choice></language-choice>
    <a mat-raised-button *ngIf="!(isLoggedIn | async)" routerLink="/login" href="#">{{ 'actions.login' | translate }}</a>
    <button mat-raised-button *ngIf="(isLoggedIn | async)" (click)="logout()">{{ 'actions.logout' | translate }}</button>
  </div>
</mat-toolbar>
<div layout="row" layout-fill flex>
  <mat-sidenav-container>
    <mat-sidenav fxLayout="column" #sidenav mode="over">
      <mat-nav-list>
        <a mat-list-item href="#" routerLinkActive="active" routerLink="/" (click)="sidenav.toggle()">{{ 'menu.home' | translate }}</a>
        <a mat-list-item href="#" routerLinkActive="active" routerLink="/users" (click)="sidenav.toggle()">{{ 'menu.users' | translate }}</a>
        <a mat-list-item href="#" routerLinkActive="active" routerLink="/stocks" (click)="sidenav.toggle()">{{ 'menu.stocks' | translate }}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>